# Nirbenu Environment Variables

# Cloudflare
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_DATABASE_ID=
CLOUDFLARE_API_TOKEN=

# App
BASE_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8787

# Auth (Better Auth)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Pusher (Realtime)
PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=ap2

# Email (Resend)
RESEND_API_KEY=
